.map-component {
  display: flex;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.map-component-2 {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  overflow-y: auto;
}

h2 {
  font-size: 24px;
  color: #333;
}

h3 {
  font-size: 20px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:focus {
  outline: none;
}

.results-container {
  margin-top: 20px;
}

.results-container div {
  margin-bottom: 10px;
}

button.finalize-path {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.map-container {
  flex: 2;
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.results-container {
  height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"]:focus {
  border-color: #007bff;
}
.table-container {
  margin:20px;
  /* width: 100%; */
}